.info-box-01 {
    background-color: #2c3e50 !important;
}

body.home .info-nav-wrap {
    padding-top: 15px;
}

.info-nav-wrap {
    padding-top: 12px;
}

.info-box-02 {
    padding-top: 10px;
}

.register::before {
    content: '\f007' !important;
}

.contact-block-01__email.email_us::before {
    content: '\f0e0' !important;
}

.log_in::before {
    content: '\f023' !important;
}

.contact-block-01 .register {
    padding-right: 25px;
}

.btn-03:hover {
    background-color: transparent;
    color: #fff;
}

.btn-03 {
    color: #1abc9c;
    background-color: #fff;
}

.play-video::after {
    left: 25px;
}

.parallax.wrapp-header {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.serv-item-01::before {
    font-family: 'FontAwesome';
    content: '\f198';
    display: inline-block;
    font-size: 4em;
    vertical-align: middle;
    top: -14px;
}

.serv-item-02::before {
    font-family: 'FontAwesome';
    content: '\f00c';
    display: inline-block;
    font-size: 4em;
    vertical-align: middle;
    top: -18px;
}

.serv-item-03::before {
    font-family: 'FontAwesome';
    content: '\f0c0';
    display: inline-block;
    font-size: 4em;
    vertical-align: middle;
    top: -12px;
    left: -6px;
}

.serv-item-04::before {
    font-family: 'FontAwesome';
    content: '\f247';
    display: inline-block;
    font-size: 4em;
    vertical-align: middle;
    top: -12px;
    left: -11px;
}

.serv-item-05::before {
    font-family: 'FontAwesome';
    content: '\f0a3';
    display: inline-block;
    font-size: 4em;
    vertical-align: middle;
    top: -12px;
}

.serv-item-06::before {
    font-family: 'FontAwesome';
    content: '\f006';
    display: inline-block;
    font-size: 4em;
    vertical-align: middle;
    top: -12px;
    left: -6px;
}

.icon-gradient::before {
    background: -webkit-gradient(linear, left top, left bottom, from(#1abc9c), to(#0197ef));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

.servises-item {
    padding-left: 72px;
    margin-bottom: 84px;
}

.wrapp-box-01 {
    width: 54%;
}

.wrapp-box-02 {
    width: 46%;
}

.footer-box-01 {
    padding-top: 30px;
    padding-bottom: 40px;
}

.play-video::after {
    height: 21px;
}

.padding-top-96.support {
    padding-top: 46px;
}

.padding-bottom-67.support {
    padding-bottom: 37px;
}

.item-info__text-02 {
    padding-left: 19px;
}

.item-info__text-01,
.item-info__text-02 {
    font-size: 13px;
}

.contact-block-01.email-02 {
    float: none;
}

body.home h3.logo {
    color: #fff;
}

h3.logo {
    color: #303638;
}

.home-02 .logo {
    margin-top: 10px;
    margin-bottom: 12px;
}

h3.logo:hover {
    color: #303638;
}

.page-title-01 {
    margin: 50px 0 18px;
    text-align: center;
}

a.sort-item {
    line-height: 28px;
    padding: 0 1em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 15px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

a.sort-item:hover {
    background-color: #1abc9c;
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition: .2s;
    transition: .2s;
}

.reply-form__name {
    height: 42px;
    padding: 5px 23px;
    font-size: 17px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
}

body.home .info-box-02__box-01 {
    padding-top: 10px;
}

.info-box-02__box-01 {
    padding-top: 16px;
}

body.makings .page-title-wrapp {
    background: url(../img/kollektsioon/kollektsioon-img-01-large.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 20px 0px;
}

body.page .search-btn::before {
    background: url(../img/search_img.png) no-repeat center center !important;
}

body.page .search-block {
    margin-left: 18px;
}

body.making .single-post {
    margin-top: 40px;
}

.blog-post__title {
    font-size: 39px;
    margin-bottom: 15px;
}

.blog-post__meta-list {
    margin-bottom: 20px;
}

.single-course-tabs .tabs__caption li {
    padding: 15px 18px;
    width: inherit;
}

.blog-listing-sidebar {
    padding-top: 20px;
}

body.makings .col-sm-4.col-md-4.col-lg-4.text-center {
    padding-bottom: 40px;
}


/*01 header*/


/*/=== Home page type 1 ===/*/

.home-02 .wrapp-header {
    background: url("../img/bg_header.jpg") #4ea2b4 no-repeat center top;
    background-size: cover;
    padding-bottom: 60px;
}

.home-02 .info-box-01 {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.home-02 .social-list-01 li a i {
    color: #fff;
}

.home-02 .contact-block-01__email {
    color: #fff;
    opacity: 0.7;
}

.home-02 .contact-block-01__email:hover {
    color: #1abc9c;
    opacity: 1;
}

.home-02 .contact-block-01__phone {
    color: #fff;
    opacity: 0.7;
}

.home-02 .contact-block-01__lang {
    color: #fff;
    opacity: 0.7;
}

.home-02 .contact-block-01__lang:hover {
    color: #1abc9c;
}

.home-02 .info-box-03 {
    padding-top: 80px;
}

.home-02 .main-nav {
    padding-top: 0px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.home-02 .main-nav__list {
    padding-top: 25px;
}

.home-02 .main-nav__list>li>a {
    color: #fff;
}

.home-02 .main-nav__list>li>a:hover {
    color: #1abc9c;
}

.home-02 .main-nav__list>li.active>a {
    color: #1abc9c;
}

.home-02 .search-block {
    margin-top: 17px;
    margin-left: 18px;
}

.home-02 .search-btn::before {
    background: url("../img/search_img_02.png") no-repeat center center;
}

.home-02 .product-list__item {
    width: 262px;
    margin-right: 30px;
}

.home-02 .product-list__item:last-child {
    margin-right: 0;
}

.home-02 .product-list__item:nth-child(4n) {
    margin-right: 0;
}

.home-02 .product-list {
    margin-bottom: 20px;
}

.home-02 .contact-block-01__lang {
    margin-left: 0;
    margin-right: 0px;
    margin-top: 20px;
}

.related-posts__img img,
.comments__user-img img {
    max-width: 80px;
}

.sort-item.is-checked {
    color: #fff;
    background: #1abc9c;
}

.groups .price-btn {
    padding: 12px 28px;
    font-size: 13px;
}

.blog-listing.right.group-single {
    width: 100%;
}

.collection-img {
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    cursor: pointer;
    min-height: 235px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
    .home-02 .main-nav__list {
        padding-top: 0;
    }
    .home-02 .main-nav__list li a {
        color: #303638;
    }
}

@media only screen and (max-width: 767px) {
    .box {
        height: auto !important;
    }
}
